body {
    margin: 0;
    padding: 0;
}

nav{
    background-color: white;
    text-align: right;
    padding-bottom: 1.5em;
    padding-top: 2.4em;
    padding-right: 7em;
    font-size: 1.5em;
    position: relative
}

nav a{
    display: inline-block;
    width: 7rem;
}

.heroPage{
    background-position: center;
  height: 25rem;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-size: cover;
  position: relative;
}

/*
.heroPage{
    background-color: rgb(255, 123, 0);
    background-position: center;
  height: 25rem;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-size: cover;
}
 */

.heroPage img{
    padding-top: 20em;
    height: 50em;
    filter: brightness(0.4);
    position: absolute;
    background-size: cover;
}

.heroPage h1 {
    color: white;
    position: absolute;
    padding-left: 4.5em;
    font-size: 4em;
}


/*
.heroTry{
    position: absolute;
    color: black;
    font-size: 2em;
    padding-left: 20em;
    padding-top: 2em;
    font-size: 3em;
}
*/

.Menu{
    padding-top: 35em;
    padding-bottom: 30em;
    display: block;
    text-align: center;
}


.Menu h3 {
    display: inline-flex;
    width: 6em;
    padding-top: 1em;
}



.About{
    padding-top:  10em;
    padding-bottom: 14em; 
    display: block;
    text-align: center;
}

.About img{
    padding-top: 2em;
    height: 15em;
}

.Contact{
    padding-bottom: 4em;
}

footer{
    padding-bottom: 20em;
}
