*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    background-color: white;
    text-align: right;
    padding: 2.4em 7em 1.5em 0em;
    font-size: 1.5em;
}

nav a{
    display: inline-block;
    width: 7rem;
}

.heroPage{
  width: 100%;
  margin: 0em 0em 2.5em 0em;
}

/*
.heroPage{
    background-color: rgb(255, 123, 0);
    background-position: center;
  height: 25rem;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-size: cover;
}
 */

.pizzaImg{
    height: 80em;
    width: 100%;
    filter: brightness(0.4);
    position: absolute;
}

h1 {
    color: white;
    position: relative;
    font-size: 4em;
    text-align: center;
    
}


/*
.heroTry{
    position: absolute;
    color: black;
    font-size: 2em;
    padding-left: 20em;
    padding-top: 2em;
    font-size: 3em;
}
*/

.Menu{
    padding: 60em 0em 30em 0em;
    display: block;
    text-align: center;
}

h2 {
     border: 1px dotted red;
     width: 4em;
     margin: 0 auto;
}

.Menu h3 {
    display: inline-flex;
    width: 6em;
    padding-top: 1em;
}






.leoImg{
    height: 14em;
    margin-top: 2em;
    position: relative;
}


.hungry{
margin: 0 auto;
position: absolute;
}

.About{
    text-align: center;
}





.Contact{
    margin: 40em 0em 10em 0em;
    text-align: center;
}

footer{
    padding-bottom: 20em;
}
